<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><form action="#" th:action="@{/employeeform}" th:object="${employee}" method="post">
        Name: <input type = "text" th:field="*{name}" /><br />
        Last Name: <input type ="text" th:field="*{lastName}"/><br />
        Social Security ***-**-****: <input type = "text" th:field="*{ssn}"/><br />
        Date of Birth 00/00/0000: <input type = "text" th:field="*{dob}"><br />

        <input type = "submit" value = "Submit" />

</form></body>
</html>